<div class="container">
  <div class="cards-container">
    <div class="row">
     <% @catches.each do |catch| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <%#=image_tag catch.photo%>
               <h4><strong><%= catch.specie.name %></strong></h4>
               <h5><%= catch.technic.name %></h5>
               <h6>SIZE: <%= catch.size %>cm | WEIGHT: <%= catch.weight %>kg</h6>
         </div>
       </div>
       </div>
     <% end %>

  </div>
</div>
</div>
