<div class="container">
  <h3 class="title"> <strong> NEW CATCH </strong> </h3>
  <%= render 'form' %>
  <br>
  <% content_for(:after_js) do  %>
    <script>
      $(document).ready(function(){
        navigator.geolocation.getCurrentPosition(function(location) {
          var lat = location.coords.latitude;
          var lng = location.coords.longitude;
          var latlng = lat + "," + lng;
          console.log(latlng);
          src_img = "https://maps.googleapis.com/maps/api/staticmap?center=" + latlng + "&zoom=16&size=350x200&maptype=terrain&markers=icon:https://i.imgur.com/MKlBYXe.png%7C" + latlng + "&key=<%= ENV['GOOGLE_API_SERVER_KEY'] %>"
          console.log(src_img);
          $img = $('<img>').attr('src', src_img).add("map-location");
          $('.catch-map-preview').html($img);

          $('#catch_latitude').val(lat);
          $('#catch_longitude').val(lng);
        });
      });
    </script>
  <% end %>
</div>
<br>
<br>

