<h3 class="tilte"><strong>CHALLENGES</strong></h3>

<div>
  <p>Ongoing challenges</p><%= @ongoing_challenges %>
</div>

<h3 class="tilte"><strong>NEW CHALLENGE</strong></h3>
<div>
  <%= render 'form' %>
</div>

<div>
  <%= render collection: @challenges.order("created_at DESC"), partial: "challenges/challenge" %>
</div>


