<div>
  <div>
    <%= @challenge.name %>
  </div>

  <div>
    <%= @challenge.start_at %>
    <%= @challenge.end_at %>
  </div>

  <div>
    <% @challenge.users.each do |user| %>
      <%= user.full_name %>
    <% end %>
  </div>
</div>
