<h3> <strong>Friends requests</strong> </h3>
<% @incoming.each do |ir| %>
<ul>
  <li><h5><%= ir.user.email %></h5>
  <%= link_to "Accept the request", friend_request_path(ir), method: :patch %>
  </li>
</ul>

<%end%>

<h3> <strong>My friend requests waiting</strong> </h3>
<h1><% @outgoing.each do |outr| %></h1>
<ul>
  <li><h5><%= outr.friend.email %></h5></li>
</ul>
<%end%>

<br>

<%=link_to "Back to my friends", friends_path %>
