
.card {
  background: white;
  margin: 5px auto;

  border-radius: 3px;
  overflow: auto;
  padding-bottom: 2px;
  &:first-child {
    margin-top: 0;
  }
  .card-header {

    padding: 10px;
    display: flex;

    align-items: center;
    .profile-img {
      .avatar {
        width: 30px;
        border-radius: 50%;
        top: 3px;
        margin-right: 5px;
      }
    }
    .profile-info {
      padding-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      .specie {
        font-size: 18px;
        color: #111111;
        font-weight: 700;
      }
      .technic {
        font-size: 14px;
        color: #111111;
        margin: 0;
        padding-left: 20px;
      }
    }
    .time {
      top: 10px;
      position: relative;
      font-size: 10px;
      display: inline-block;
      float: right;
      padding-left: 100px;
      padding-bottom: 20px;
    }
  }
  .content-img img{
    width: 100%;
  }
  .card-footer {
    padding: 15px;
    padding-bottom: 5px;
    .comments {
      display: flex;
      margin-bottom: 5px;
    }
    .comments h6{
      color: black;
      font-weight: bolder;
      margin: 0;
    }
    .comments p {
      font-size: 12px;
      margin: 0;
      padding-left: 10px;
    }
    .line hr{
      width: 100%;
      margin: 0px;
    }
    .link-see-more {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link-see-more a {
      text-decoration: none;
      color: #274B64;
    }
  }
}
