.startend {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.challenge-form {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn-add {
  margin-top: 10px;
  border-radius: 10px;
}
