.startend {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.challenge-form {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn-add {
  margin-top: 10px;
  border-radius: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.pyp {
  color : #194C67;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #AF561D;
}
