.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
}

.plus-btn {
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: #194C67;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: none;
  font-size: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: sticky;
  bottom: 0;
}

.visible-plus-btn .plus-btn {
  display: flex;
  text-decoration: none;
}
