h3 {
  font-size: 20px;
  color: #787c82;
  text-align: center;
}

.challenges {
text-align: center;
}

.all-challenges {
  padding: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
  margin-top: 5px;
  border-radius: 15px;
}
