.image-background-preview {
  height: 100px;
  background-color: white;
  width: 100%;
  border: 1px solid lightgray;
}

.photo-update {
  display: flex;
}

.profile-picture {
  padding-left: 20px;
  border-radius: 50%;
}
