a {
  width: 190px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}

.tab_general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_content_list {
  display: flex;
  flex: 1;
}

.tab_content_map {
 width: 100vh;
}

.tab-content {
  flex: 1;
  overflow: scroll;
}
