.pyp-tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  .pyp-tab {
    flex: 1;
    text-align: center;
    &.active {
      background: lightgray;
    }
    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #666666;
    }
  }
}
