<!-- challenge parameters -->
<div>
  <div>
    <h3 class="title"><strong>Challenge: </strong> </h3>
    <%= @challenge.name %>
  </div>
  <div>
    <h3 class="title"><strong>Start: </strong> </h3>
    <%= @challenge.start_at %>
  </div>
  <div>
    <h3 class="title"><strong>End: </strong> </h3>
    <%= @challenge.end_at %>
  </div>
</div>

<!-- challenge participants -->
