h2 {
  color: white;
}

body .container-page{
  background-image: image-url("accueil.jpg");
  background-size: cover;
  height: 100vh;
}

.card-container {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  padding-top: 80px;
}

.form-control {
  border-radius: 10px;
}


.label-form {
  color: white;
}

.form-control-button {
  width: 40px;
}

.signup {
  padding-top: 15px;

}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  padding-bottom: 20px;
}

.login-btn {
  width: 250px;
  color: white;
  border: 2px solid white;
  background: linear-gradient(to right, #000000, #434343);
  border-radius: 10px;
}
.signup-btn {

  color: white;
  border: 2px solid white;
  background-color: none;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}

.inside-form {
  display: flex;
  justify-content: center;
}
