h2 {
  color: white;
}

body .container-page{
  background-image: url(accueil.jpg);
  background-size: cover;
  height: 100vh;
}

.card-container {
  text-align: center;
  padding: 15px;
  border-radius: 5px;

}

.form-control {
  border-radius: 15px;
}


.label-form {
  color: white;
}

.form-control-button {
  width: 40px;
}

.signup {
  padding-top: 5px;
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  padding-bottom: 20px;
}
