body .container{
  background-image: url(accueil.jpg);
  background-size: cover;
  height: 100vh;
}

.card-container {
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 15px;
  border-radius: 5px;
  margin-top: 40px;
  padding-bottom: 350px;
}

.form-control {
  border-radius: 15px;
}


.label-form {
  color: white;
}

.form-control-button {
  width: 40px;
}

.signup {
  padding-top: 5px;
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  padding-bottom: 20px;
}
